
/*Smaller icons and less padding, so li elements fit into dropbox*/
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > .fa  {
  padding-top: 6px;
  font-size: 20px;
}
.navbar-nav>.messages-menu>.dropdown-menu>li .menu> li > a {
  padding: 8px;
}

/*dynamic textareu, to work with JS in server.R (hacky) */
textarea {
    resize: vertical;
    overflow-y: scroll;
    min-height:200px;
}

/*no softwraps only works well on webkit browsers, it removes all newlines in others*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  textarea {
    overflow-x: scroll;
    white-space: nowrap;
  }
}

/*more space in shiny notfications*/
.shiny-notification-content {
  padding: 10px;
}

/*hacky way to adjust the buttons in the navbar*/
button.btn-navbar {
  margin-top: 9px !important;
  margin-right: 15px !important;
  margin-bottom: 9px !important;
  padding: 5px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/*Default font for logo is Helvetica. Set to default font*/
.main-header .logo {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 120%;
}


/*fixed width in text input*/
textarea{
  font-family: menlo, consolas, monospace;
  font-size: 12px !important;
}

/*adjustments to headers in story*/
.story-body > h2 {
  font-size: 160%;
  margin-top: -8px;
}

.story-body > h3 {
  font-size: 110%;
  font-weight: bold;
}

.story-body > h4 {
  font-size: 110%;
}

/*smaller size for header selectize*/
#oViewSelect {
    font-size: 80%;
}


/*dygraphs adjustments*/
.dygraph-axis-label {
  font-size: 90%;
}

#oMainPlot {
  width:98%;
  /*height:60vmin;*/
  margin-left:-15px;
  margin-top:-20px;
}

/*exception from above*/
.shiny-output-error-validation {
    margin-left: 20px !important;
}